.purchase-history {
    display: grid;
    grid-template-areas: "title title title title title"
                         "products products . details details"
                         "products products . details details";

    &__title {
        grid-area: title;
        border-bottom: 1px solid #CCCCCC;
    }
    &__products {
        grid-area: products;
        display: grid;
        grid-template-columns: repeat(auto-fill, 80px);
        grid-gap: 10px;
    }
    &__details {
        grid-area: details;
    }
}

.details {
    &__order-number {

    }
    &__order-date {

    }
    &__shipping-address {

    }
    &__total {

    }
    &__credit-card {

    }
    &__track-shipment {

    }
    &__print-receipt {

    }
}