.order-review {
    display: grid;
    grid-template-rows: [header-nav-s] 50px 50px [header-nav-e title-s] 1fr [title-e content-s] 3fr [content-e bottom-s] 1fr [bottom-e];
    grid-template-columns: [back-s] 1fr [back-e proceed-s] 1.5fr [proceed-e cost-s] 2.5fr [cost-e];

    .header,
    .navbar {
        grid-column: 1/-1;    
    }

    &__title {
        grid-row: title-s/title-e;
        grid-column: 1/-1;
    }
    &__content {
        grid-row: content-s/content-e;
        grid-column: 1/-1;
    }
    &__back {
        grid-row: bottom-s/bottom-e;
        grid-column: back-s/back-e;
    }
    &__proceed {
        grid-row: bottom-s/bottom-e;
        grid-column: proceed-s/proceed-e;
    }
    &__cost {
        grid-row: bottom-s/bottom-e;
        grid-column: cost-s/cost-e;
    }
}

.review-content {
    &__header {
        display: grid;
        grid-template-columns: [icon-s] 80px [icon-e] repeat(3, 1fr);
        border-bottom: 1px solid #CCCCCC;

        &__name {
            grid-column: 2;
        }
        &__quantity {
            grid-column: 3;
        }   
        &__price {
            grid-column: 4;
        }
    }
    &__wrapper {
        border-bottom: 1px solid #CCCCCC;
    }
}

.review-cost {

}