.product {
    position: relative;
    &__front {
        opacity: 0;
        display: grid;
        justify-content: center;
        grid-template-rows: 220px 20px;
        grid-row-gap: 20px;

        img {

        }
        label {
 
        }
    }

    &__back {
        background-color: skyblue;
        position: absolute;
        top: 0;
        left: 0;

        display: grid;
    }
}

.back {
    &__title {
        
    }
    &__description {

    }
    &__price {

    }
    &__amount-box {

    }
    &__plus {

    }
    &__minus {

    }
    &__add-to-cart {

    }
}